<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LibUsbDotNet" version="2.2.8" targetFramework="xamarinmac20" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="xamarinmac20" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="xamarinmac20" />
  <package id="System.Xml.ReaderWriter" version="4.3.1" targetFramework="xamarinmac20" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="xamarinmac20" />
  <package id="Xamarin.Forms" version="3.1.0.583944" targetFramework="xamarinmac20" />
</packages>